@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0035)http://helbreathlegion.cleroth.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Helbreath Legion</title>

<meta name="robots" content="index, follow">
<meta name="keywords" content="Helbreath, Legion, Mmorpg, Free Online Game, Free, PVP, Magic, HB, Weapons, Monsters">
<meta name="description" content="Helbreath Legion - The best helbreath server; with all new features, events, commands, and much more. Free to play and on high speed dedicated server.">
<!--<link rel="shortcut icon" href="http://www.merrypic.com/files/ue45uxx8u8w9intqddnm.ico" />-->

<link href="./Images/Helbreath Legion_files/style.css" media="all" rel="stylesheet" type="text/css">

<link href="./Images/Helbreath Legion_files/dropdown.css" media="all" rel="stylesheet" type="text/css">
<link href="./Images/Helbreath Legion_files/menutheme.css" media="all" rel="stylesheet" type="text/css">

<!--[if lt IE 7]>
<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.dropdown.js"></script>
<![endif]-->

<script type="text/javascript" src="./Images/Helbreath Legion_files/scripts.js"></script>

</head>

<body>

<div id="container">

	<div id="header">
		<ul class="dropdown dropdown-horizontal" id="mainmenu">
		<li><a class="dir" href="http://helbreathlegion.cleroth.com/index.php">News</a></li>
		<li><a class="dir" href="http://helbreathlegion.cleroth.com/download.php">Download</a></li>

		<li><a href="http://helbreathlegion.cleroth.com/#" class="dir">Guides</a>
			<ul>
				<li><a href="http://helbreathlegion.cleroth.com/res_cmds.php">Buttons and Commands</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/res_builds.php">Character Builds</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/res_fighting.php">Fighting and Hunting Tips</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/res_events_schedule.php">Events &gt;</a>
								<ul>
								<li><a href="http://helbreathlegion.cleroth.com/res_events_schedule.php">Schedule</a></li>
								<li><a href="http://helbreathlegion.cleroth.com/res_events_ctr.php">Capture the Relic</a></li>
								<li><a href="http://helbreathlegion.cleroth.com/res_events_dts.php">Destroy the Shield</a></li>
								<!-- <li><a href="res_crusade.php">Crusade</a></li> -->
								</ul>
				</li>
				<!--li><a href="res_facts.php">Facts and Formulae</a></li>-->


				<li><a href="http://helbreathlegion.cleroth.com/#">Items &gt;</a>
					<ul>
					<li><a href="http://helbreathlegion.cleroth.com/res_weapons.php">Armors and Weapons</a></li>
					<li><a href="http://helbreathlegion.cleroth.com/res_items_clothing.php">Clothing</a></li>
					<li><a href="http://helbreathlegion.cleroth.com/res_items_gems.php">Gems</a></li>
					<li><a href="http://helbreathlegion.cleroth.com/res_items_rares.php">Rares and Misc.</a></li>
					</ul>
				</li>
				<li><a href="http://helbreathlegion.cleroth.com/res_maps.php">Maps</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/res_monster.php">Monsters and drops</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/#">Skills &gt;</a>
					<ul>
					<li><a href="http://helbreathlegion.cleroth.com/res_skills_alchemy.php">Alchemy</a></li>
					<li><a href="http://helbreathlegion.cleroth.com/res_skills_crafting.php">Crafting</a></li>
					<!-- <li><a href="#">Mining and Manufacturing</a></li> -->
					</ul>
				</li>
				<li><a href="http://helbreathlegion.cleroth.com/res_spells.php">Spells</a></li>

			</ul>
		</li>

		<li><a href="http://helbreathlegion.cleroth.com/#" class="dir">Statistics</a>
			<ul>
				<li><a href="http://helbreathlegion.cleroth.com/top100exp.php">Top 100 Exp/Maj</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/top100ek.php">Top 100 Total EK</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/top25gldek.php">Top 25 Total Guild EKs</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/top25gldlrg.php">Top 25 Largest Guilds</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/recenteks.php">Recent EKs</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/logevent.php">Event Log (CTR+DTS)</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/logcrusade.php">Crusade Log</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/logapoc.php">Apocalypse Log</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/topnations.php">Nation Stats</a></li>
			</ul>
		</li>
		<li><a href="http://helbreathlegion.cleroth.com/#" class="dir">Community</a>
			<ul>
				<li><a href="http://helbreathlegion.net/forum/">Forums</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/cm_pwlost.php">Password/Account lost</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/cm_vent.php">Ventrilo</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/verhist.php">Version history</a></li>
<!--
				<li><a href="#">Screenshots</a></li>
				<li><a href="#">Videos</a></li>
-->
			</ul>
		</li>
		<li><a href="http://helbreathlegion.cleroth.com/rules.php" class="dir">Rules</a></li>
		<li><a href="http://helbreathlegion.cleroth.com/donate.php" class="dir">Donate</a></li>
		<li><a href="http://helbreathlegion.cleroth.com/contact.php" class="dir">Contact</a></li>
		</ul>
		<a id="timeblock">Server Time: <span id="Time">10:21:27 AM</span></a>
		<div id="onlinestat"><div class="online">Server Online</div><!--? include("onlinestatus140.php") ?>--></div>
	</div>
	<div id="content">
	<div class="post">
		<div class="postheader">
			<h1>Welcome to legion</h1>
		</div>
		<div class="postcontent">
<p>
Welcome to Helbreath Legion. We offer a balanced, serious MMORPG that is hosted on a dedicated server, updates  frequently,
 and contains many features. Helbreath Legion features the following:
</p>

<ul>
<li>Max level set to 140 and Max stats to 200
</li><li>New Mail system with item attachments
</li><li>New Guild System with Guild Message board, guild ranks, etc...
</li><li><a href="http://helbreathlegion.cleroth.com/res_items_gems.php">New Socketing System</a>
</li><li>Total Enemy Kills count
</li><li>Events such as <a href="http://helbreathlegion.cleroth.com/res_astoria.php#capture">Capture the Relic</a>, Illusion Event, Apocalypse, Crusade, Soccer <a href="http://helbreathlegion.cleroth.com/res_events_schedule.php">(schedule)</a></li>
<li>Party members' positions on minimap and party auto-accept</li>
<li>On party limit</li>
<li>Impossible to enter enemy buildings</li>
<li>Ctrl+click on minimap recall points to set as next recall point</li>
<li>Helpful, honest staff</li>
<li>And much more...</li>
</ul>

		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>March 21st, 2012 - 3.1 update</h1>
		</div>
		<div class="postcontent">
<p>
The server has been updated with 3.1. Click <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a> see the list of changes<br>
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>March 14th, 2012 - 3.0 update</h1>
		</div>
		<div class="postcontent">
<p>
The server has been updated with 3.0. Click <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a> see the list of changes, including new spells, new items, etc.<br>
</p>
		</div>
		<div class="postfooter"></div>
	</div>

<!--
	<div class="post">
		<div class="postheader">
			<h1>January 20th, 2012 - Legion's future, what to expect</h1>
		</div>
		<div class="postcontent">
<p>
Hi, everyone. I am Cleroth, the lead programmer and responsible for all the development of this server. I know all the players have been very frustrated at the fact that Legion has seen no updates lately, and though I understand them, I simply haven't been in a position to do much in Legion lately.</br>
A quick resume would be... I've had to change countries often, and it's become a bit overwhelming. I had a fire very recently in the apartment I was renting, eventually got kicked out of my apartment with nothing with me except phone and wallet; I had to pay huge sums of money to get (most) of my stuff back; I went through frustration, depression, mental breakdowns, having no place to stay, not sleeping, walking for hours and hours during night. Things have calmed a bit, I'm still struggling a bit to find a place to rent, but I am positive for the future. I am aware that Legion's future is in my hands, and I assure you that when I am in the position to do so, you will see work being done here. Forget us not, because we will rise again, soon.
</p>
		</div>
		<div class="postfooter"></div>
	</div>
-->


	<div class="post">
		<div class="postheader">
			<h1>November 10th, 2011 - 2.992 update</h1>
		</div>
		<div class="postcontent">
<p>
The server has been updated with a few minor bug fixes. If you are having troubles connecting, try restarting the client. The full list of changes can be seen <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a>.<br>
</p>
		</div>
		<div class="postfooter"></div>
	</div>


	<div class="post">
		<div class="postheader">
			<h1>Octorber 29th, 2011 - 2.991 update - Exp double to 140!</h1>
		</div>
		<div class="postcontent">
<p>
The experience rate has been doubled from level 1 to 140 (majestic points remain the same)! Lower stated armors are also considerably more common. The full list of changes can be seen <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a>.<br>
</p>
		</div>
		<div class="postfooter"></div>
	</div>


	<div class="post">
		<div class="postheader">
			<h1>Octorber 16th, 2011 - 2.99 update - Warehouse tabs!</h1>
		</div>
		<div class="postcontent">
<p>
The new update features include Warehouse tabs and a few important fixes such as endurance reduction not getting updated and AMP no longer being able to cast on top of PFM. The full list of changes can be seen <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a>.<br>
<b>13:17 UPDATE:</b> The server has been updated and is now online. The crusade will start in a few minutes. If you have any issues connecting try restarting the launcher.<br>
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>Octorber 9th, 2011 - 2.98 update</h1>
		</div>
		<div class="postcontent">
<p>
Legion has been updated! The full list of changes can be seen <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a>.<br>
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>August 19th, 2011 - Server back online!</h1>
		</div>
		<div class="postcontent">
<p>
The server is now back online, on a fresh new host with a better connection (100 Mbps to 1 Gbps) and protection.
To play, you will need to <a href="http://helbreathlegion.cleroth.com/download.php">download the new Legion Setup</a> and install it where your old installation is.
<br>
We may experience some issues at the start but these should be fixed soon (if they arise).
</p>
		</div>
		<div class="postfooter"></div>
	</div>


	<div class="post">
		<div class="postheader">
			<h1>August 18th, 2011 - Moving server hosts</h1>
		</div>
		<div class="postcontent">
<p>
We're currently working on fixing the launcher. In addition, we're upgrading and moving the server host in a short while, so the server might be down for a little while longer.
</p>
		</div>
		<div class="postfooter"></div>
	</div>


	<div class="post">
		<div class="postheader">
			<h1>August 12th, 2011 - 2.95 update</h1>
		</div>
		<div class="postcontent">
<p>
Legion has been updated! We fixed a major issue related to people abusing a bug to increase the raid time far beyond intended. 
The full list of changes can be seen <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a>.<br>
</p>
		</div>
		<div class="postfooter"></div>
	</div>


	<div class="post">
		<div class="postheader">
			<h1>August 5th, 2011 - 2.92 update</h1>
		</div>
		<div class="postcontent">
<p>
Legion has been updated! The main changes with this patch is the new <b>/blockexp</b> command, limbo state to <b>prevent pulling</b>, <b>automatic reconnection</b> upon disconnect, and improved <b>anti-cheating</b> mechanisms.<br>
Because of the major engine updates done on this update to enable such changes, there might be some bugs around, even we tested this as much as we could. 
We encourage all players to report any bugs immediately either on the <a href="http://helbreathlegion.net/forum/">forums</a> or by <a href="http://helbreathlegion.cleroth.com/contact.php">e-mail</a> and 
refrain from exploiting bugs as this would disrupt the game's balance and fun (and may also result in a ban).<br>
The full list of changes can be seen <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a>.<br>
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>July 28th, 2011 - Ventrilo server moved</h1>
		</div>
		<div class="postcontent">
<p>
Due to some players not being able to connect to our old ventrilo server, we got a new ventrilo server (you can get the new ventrilo's connection details <a href="http://helbreathlegion.cleroth.com/cm_vent.php">here</a>). The old ventrilo is still up but will soon go offline.
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>July 27th, 2011 - 2.91 update</h1>
		</div>
		<div class="postcontent">
<p>
Legion has been updated! The main changes with this patch is the lower drop rate, lower bow stun chances, the opening of the Astoria events and the bugged DK upgrading.<br>
The full list of changes can be seen <a href="http://helbreathlegion.cleroth.com/verhist.php">here</a>.<br>
We thank everyone that has joined us and keeps playing here, and a special thanks to all the people that support the server with donations. We've been noticing an average of 170+ players lately, and it just keeps on growing! Spread the word!<br>
We have been thinking about the features we want to add for our next, big update. These might include: guilds manually setting up guild vs guild matches, or even parties vs parties; trading/market system.
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>July 16th, 2011 - 140 server launch</h1>
		</div>
		<div class="postcontent">
<p>
Our new 140 beta server just opened today! <a href="http://helbreathlegion.cleroth.com/download.php">Download</a> the game and login to join the competition of leveling up and fighting to be the greatest nation or guild!
</p>
		</div>
		<div class="postfooter"></div>
	</div>


<!--
	<div class="post">
		<div class="postheader">
			<h1>June 24th, 2011 - Low rate 140-level beta server up</h1>
		</div>
		<div class="postcontent">
<p>
Our new low rate, 140 max level server is now in its open testing phase and able to play. Any progress that get during the beta phase will be lost when the final version of the server is released. Remember that this is a testing server and there might still be a few bugs, some lag, or imbalances, as well as the server going offline for fixes whenever we feel the need to. We are doing this to fix any bugs and specially imbalances we might encounter so that they will not hinder the server when it's finally released.<br />
If you find any bugs, or think anything needs changed, PLEASE take the time to let us know in the <a href="http://helbreathlegion.net/forum/viewforum.php?f=48">forums</a>.<br />
The beta server client is downloadable <a href="download.php">here</a>.
Don't forget to <a href="donate.php">donate</a> to support this new server! Once the server is up you will be able to transfer your legion points on your 180 account to the 140 account!<br />
To see the latest updates and analysis on the beta server click <a href="http://helbreathlegion.net/forum/viewtopic.php?f=54&p=22316#p22316">here</a>.<br />
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>April 1st, 2011 - 2.6 update with improved chat log system!</h1>
		</div>
		<div class="postcontent">
<p>
The game has been updated with the 2.6 version with an improved chat log (F9) system. Simply click the type of chat to toggle its display, or double click it to display that chat type only. Other changes include Captains being able to select Commander during crusades. Click <a href="verhist.php">here</a> to view the full list of changes.<br/><br/>
Help Legion to grow and release more updates by <a href="donate.php">donating</a>!

<br/>
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>March 28th, 2011 - New Launcher and Updater</h1>
		</div>
		<div class="postcontent">
<p>
We have replaced the launcher/updater with a new one. This should fix most problems regarding installation or launching of Helbreath Legion. If you already have the game installed, the old launcher will be replaced automatically when launching the game. <br />
In addition, the new launcher does not allow any kind of modifications in the game's files. This is mainly to prevent people using custom sounds for footsteps and custom sprites for NPCs and buildings.
</p>
		</div>
		<div class="postfooter"></div>
	</div>


	<div class="post">
		<div class="postheader">
			<h1>February 20th, 2011 - 2.5 update with new mail system!</h1>
		</div>
		<div class="postcontent">
<p>
The game has been updated with the 2.5 version with an entirely new mailing system with item attachments, and more! Click <a href="verhist.php">here</a> to view the full list of changes.<br/>
Here are a few things to expect in the near future:<br/>
<ul>
<li><a href="forum/viewtopic.php?f=8&t=3525">In-game Market system</a>
<li><a href="forum/viewtopic.php?f=8&t=3524">Party ping system</a>
<li>In-built automatic system for buying and selling items for real money
<li>Entirely new quest system with diverse quests, item rewards, and more!
<li>Improved chat log system
<li>Revised pits
<li>Revised item imbalances
<li>A proper in-game news system, similar to mail
</ul>
<br/><br/>
Remember to post any ideas and suggestions you might have in our <a href="forum/viewforum.php?f=8">forums</a>.<br/>
Help Legion to grow and release more updates by <a href="donate.php">donating</a>! Long live Legion!

<br/>
</p>
		</div>
		<div class="postfooter"></div>
	</div>



	<div class="post">
		<div class="postheader">
			<h1>December 16th, 2010 - Automatic Password/Account recovery</h1>
		</div>
		<div class="postcontent">
<p>
An automated script has been added on the website under the Community menu for any lost accounts or account passwords. 
<br/>
</p>
		</div>
		<div class="postfooter"></div>
	</div>

-->
	</div>
	<div id="footer">
		<a href="http://www.xtremetop100.com/in.php?site=1132271018"><img src="./Images/Helbreath Legion_files/votenew.jpg" alt="Vote at xtremetop100"></a>
		<!--<a href="http://www.helbreathtop.com/"><img src="http://www.helbreathtop.com/button.php?u=legion" alt="Helbreath Top" border="0" /></a>-->
		<a href="http://www.hbtop50.com/"><img src="./Images/Helbreath Legion_files/button.php" alt="HB Top 50" border="0"></a>	
		<br>
There is currently 1 guest online.<br><span><a href="http://validator.w3.org/check?uri=referer">XHTML 1.0 Valid</a> | Site copyright © 2014 Helbreath Legion. All rights reserved.</span>
	</div>	
</div>
<script type="text/javascript">UpdateTime();</script>

</body></html>
