@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0047)http://helbreathlegion.cleroth.com/download.php -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Helbreath Legion - Downloads</title>

<meta name="robots" content="index, follow">
<meta name="keywords" content="Helbreath, Legion, Mmorpg, Free Online Game, Free, PVP, Magic, HB, Weapons, Monsters">
<meta name="description" content="Helbreath Legion - The best helbreath server; with all new features, events, commands, and much more. Free to play and on high speed dedicated server.">
<!--<link rel="shortcut icon" href="http://www.merrypic.com/files/ue45uxx8u8w9intqddnm.ico" />-->

<link href="./Images/Helbreath Legion - Downloads_files/style.css" media="all" rel="stylesheet" type="text/css">

<link href="./Images/Helbreath Legion - Downloads_files/dropdown.css" media="all" rel="stylesheet" type="text/css">
<link href="./Images/Helbreath Legion - Downloads_files/menutheme.css" media="all" rel="stylesheet" type="text/css">

<!--[if lt IE 7]>
<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.dropdown.js"></script>
<![endif]-->

<script type="text/javascript" src="./Images/Helbreath Legion - Downloads_files/scripts.js"></script>

</head>

<body>

<div id="container">

	<div id="header">
		<ul class="dropdown dropdown-horizontal" id="mainmenu">
		<li><a class="dir" href="http://helbreathlegion.cleroth.com/index.php">News</a></li>
		<li><a class="dir" href="./Images/Helbreath Legion - Downloads_files/Helbreath Legion - Downloads.htm">Download</a></li>

		<li><a href="http://helbreathlegion.cleroth.com/download.php#" class="dir">Guides</a>
			<ul>
				<li><a href="http://helbreathlegion.cleroth.com/res_cmds.php">Buttons and Commands</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/res_builds.php">Character Builds</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/res_fighting.php">Fighting and Hunting Tips</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/res_events_schedule.php">Events &gt;</a>
								<ul>
								<li><a href="http://helbreathlegion.cleroth.com/res_events_schedule.php">Schedule</a></li>
								<li><a href="http://helbreathlegion.cleroth.com/res_events_ctr.php">Capture the Relic</a></li>
								<li><a href="http://helbreathlegion.cleroth.com/res_events_dts.php">Destroy the Shield</a></li>
								<!-- <li><a href="res_crusade.php">Crusade</a></li> -->
								</ul>
				</li>
				<!--li><a href="res_facts.php">Facts and Formulae</a></li>-->


				<li><a href="http://helbreathlegion.cleroth.com/download.php#">Items &gt;</a>
					<ul>
					<li><a href="http://helbreathlegion.cleroth.com/res_weapons.php">Armors and Weapons</a></li>
					<li><a href="http://helbreathlegion.cleroth.com/res_items_clothing.php">Clothing</a></li>
					<li><a href="http://helbreathlegion.cleroth.com/res_items_gems.php">Gems</a></li>
					<li><a href="http://helbreathlegion.cleroth.com/res_items_rares.php">Rares and Misc.</a></li>
					</ul>
				</li>
				<li><a href="http://helbreathlegion.cleroth.com/res_maps.php">Maps</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/res_monster.php">Monsters and drops</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/download.php#">Skills &gt;</a>
					<ul>
					<li><a href="http://helbreathlegion.cleroth.com/res_skills_alchemy.php">Alchemy</a></li>
					<li><a href="http://helbreathlegion.cleroth.com/res_skills_crafting.php">Crafting</a></li>
					<!-- <li><a href="#">Mining and Manufacturing</a></li> -->
					</ul>
				</li>
				<li><a href="http://helbreathlegion.cleroth.com/res_spells.php">Spells</a></li>

			</ul>
		</li>

		<li><a href="http://helbreathlegion.cleroth.com/download.php#" class="dir">Statistics</a>
			<ul>
				<li><a href="http://helbreathlegion.cleroth.com/top100exp.php">Top 100 Exp/Maj</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/top100ek.php">Top 100 Total EK</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/top25gldek.php">Top 25 Total Guild EKs</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/top25gldlrg.php">Top 25 Largest Guilds</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/recenteks.php">Recent EKs</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/logevent.php">Event Log (CTR+DTS)</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/logcrusade.php">Crusade Log</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/logapoc.php">Apocalypse Log</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/topnations.php">Nation Stats</a></li>
			</ul>
		</li>
		<li><a href="http://helbreathlegion.cleroth.com/download.php#" class="dir">Community</a>
			<ul>
				<li><a href="http://helbreathlegion.net/forum/">Forums</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/cm_pwlost.php">Password/Account lost</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/cm_vent.php">Ventrilo</a></li>
				<li><a href="http://helbreathlegion.cleroth.com/verhist.php">Version history</a></li>
<!--
				<li><a href="#">Screenshots</a></li>
				<li><a href="#">Videos</a></li>
-->
			</ul>
		</li>
		<li><a href="http://helbreathlegion.cleroth.com/rules.php" class="dir">Rules</a></li>
		<li><a href="http://helbreathlegion.cleroth.com/donate.php" class="dir">Donate</a></li>
		<li><a href="http://helbreathlegion.cleroth.com/contact.php" class="dir">Contact</a></li>
		</ul>
		<a id="timeblock">Server Time: <span id="Time">11:22:18 AM</span></a>
		<div id="onlinestat"><div class="online">Server Online</div><!--? include("onlinestatus140.php") ?>--></div>
	</div>
	<div id="content">


	<div class="post">
		<div class="postheader">
			<h1>How to Install and Play</h1>
		</div>
		<div class="postcontent">
<p>Simply download and install the file below to play Helbreath Legion. If you had a previous installation of Helbreath, you may install it in that directory, which will make the installer download only the newest updated files.<br>
<br>

</p><h4 style="text-align: center; ">
<a href="http://helbreathlegion.cleroth.com/updates/LegionSetup.exe">
Download Helbreath Legion Installer (English)
</a>
</h4>

<br><br>
<p>If you have any issues, post them in your <a href="http://helbreathlegion.cleroth.com/forum/viewforum.php?f=7">forums</a> or contact us by <a href="http://helbreathlegion.cleroth.com/contact.php">e-mail</a>.</p>

<h4 style="text-align: center; ">
<!-- <a href="verhist.php">Click here to see the latest changes.</a> -->
</h4>
<br>


		</div>
		<div class="postfooter"></div>
	</div>


	</div>
	<div id="footer">
		<a href="http://www.xtremetop100.com/in.php?site=1132271018"><img src="./Images/Helbreath Legion - Downloads_files/votenew.jpg" alt="Vote at xtremetop100"></a>
		<!--<a href="http://www.helbreathtop.com/"><img src="http://www.helbreathtop.com/button.php?u=legion" alt="Helbreath Top" border="0" /></a>-->
		<a href="http://www.hbtop50.com/"><img src="./Images/Helbreath Legion - Downloads_files/button.php" alt="HB Top 50" border="0"></a>	
		<br>
There is currently 1 guest online.<br><span><a href="http://validator.w3.org/check?uri=referer">XHTML 1.0 Valid</a> | Site copyright © 2014 Helbreath Legion. All rights reserved.</span>
	</div>	
</div>
<script type="text/javascript">UpdateTime();</script>

</body></html>
