/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Clearing Floats */

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Main Styles */

body {
    font-size: 13px;
    font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    color: #323232;
    background: #f7f5f0 url(../images/background.png) no-repeat right top;
    margin-top: 100px;
}

a {
    background-color: #b6ebe3;
    text-decoration: none;
}

    a:hover {
        background-color: #323232;
        color: #b6ebe3;
    }

#page {
    width: 940px;
    margin: 0 auto;
}

header {
    font-family: 'Segoe UI', sans-serif;
    float: left;
    width: 250px;
    margin-right: 100px;
}

    header p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }

nav {
    margin-top: 30px;
}

    nav a {
        background: transparent;
        text-decoration: none;
        color: #323232;
        font-size: 18px;
        padding: 10px 15px 8px 15px;
        display: inline-block;
        text-transform: uppercase;
        border-top: 2px solid transparent;
        outline: none;
    }

        nav a:hover {
            background-color: #323232;
            color: #b6ebe3;
            border-top: 2px solid #b6ebe3;
        }

        nav a.current {
            background-color: #323232;
            color: #b6ebe3;
            border-top: 2px solid #b6ebe3;
        }

section {
    width: 450px;
    background-color: #fff;
    float: left;
    padding: 20px;
    border-top: 7px solid #b6ebe3;
}

    section p {
        margin-bottom: 12px;
        line-height: 150%;
    }

h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.title {
    font-size: 3.2em;
    line-height: 1em;
    margin-bottom: 17px;
}

/* Blog and Twitter Styles */
article.newsitem {
    background: url(../images/rss.png) no-repeat left top;
}

    article.newsitem .newsbody, article.twitteritem .twitterbody {
        margin-left: 17px;
        padding: 0px 9px 10px;
    }

        article.newsitem .newsbody header, article.twitteritem .twitterbody header {
            float: none;
            font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
            width: 100%;
            margin-right: 0;
        }

            article.newsitem .newsbody header h1, article.twitteritem .twitterbody header h1 {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 2px;
            }

            article.newsitem .newsbody header h2 {
                font-size: 1.1em;
                margin-bottom: 5px;
            }

        article.newsitem .newsbody p, article.twitteritem .twitterbody p {
            font-size: 1.0em;
            line-height: 1.0em;
            margin-bottom: 8px;
        }

        article.newsitem .newsbody .pubdate {
            margin-top: 3px;
        }

/* Twitter Styles */
article.twitteritem {
    background: url("http://twitter.com/favicon.ico") no-repeat left top;
}

    article.twitteritem .twitterbody header h1 {
        margin-bottom: 5px;
    }

    article.twitteritem .twitterbody .pubdate {
        margin: -3px 0 5px 0;
    }

ul.twitteractions li {
    display: inline;
    list-style: none;
}

    ul.twitteractions li a {
        background: none;
        color: #999;
        height: 20px;
        padding: 0 7px 0 7px;
        text-decoration: none;
        text-indent: -9999px;
        width: 20px;
    }


/* Photos Styles */
ul.thumbnails {
    margin: 0;
    padding: 0;
}

    ul.thumbnails li {
        position: relative;
        list-style: none;
        float: left;
        margin: 8px;
        padding: 5px;
        font-size: small;
        text-align: center;
        border: 1px solid transparent;
        width: 100px;
        height: 100px;
        line-height: 100px;
        display: block;
    }

        ul.thumbnails li span {
            display: block;
        }

            ul.thumbnails li span.image-overlay {
                display: none;
                width: 100px;
                padding: 5px;
                background-color: #b6ebe3;
                color: #343434;
                font-size: 0.8em;
                /*CSS3 properties*/
                border-radius: 7px 7px 0 0;
                -moz-border-radius: 7px 7px 0 0;
                -webkit-border-radius: 7px 7px 0 0;
                word-wrap: break-word;
            }

            ul.thumbnails li span.below-image {
                line-height: normal;
            }

        ul.thumbnails li img {
            margin: auto;
            display: inline;
            vertical-align: middle;
        }

        ul.thumbnails li:hover {
            background: #f3f6f7;
            border-color: #dbe2e5;
            /*CSS3 properties*/
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            box-shadow: 0px 0px 10px #d0d0d0;
            -moz-box-shadow: 0px 0px 10px #d0d0d0;
            -webkit-box-shadow: 0px 0px 10px #d0d0d0;
        }

            ul.thumbnails li:hover span.image-overlay {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                line-height: normal;
            }

.thumbnail-border {
    border: 1px solid #dbe2e5;
    display: block;
}

.hide-from-desktop
{
    display: none;
}
